<!DOCTYPE html>
<html>

<head>
    <title>Belajar HTML</title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/fontawesome/css/all.css" rel="stylesheet">
</head>

<body>